@import "variables";

@media (max-width: 702px) {
  .multiselect__option, .multiselect__placeholder {
    font-size: 11px;
  }
}

.multiselect__option--highlight {
  background: $fee_secondary;
  outline: none;
  color: #fff;
  &:after {
    background: $fee_secondary;
  }
}

.multiselect__option--selected.multiselect__option--highlight {
  background: $fee_primary_hover;
  color: #fff;
  &:after {
    background: $fee_primary_hover;
  }
}
