version: '3'
services:
  vue-ui:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    container_name: vue-ui
    environment:
      - VUE_APP_API_URL=http://34.141.81.19:8081/api/v1/
    volumes:
      - ./my-app:/usr/src/app/my-app
      - /usr/src/app/my-app/node_modules
    networks:
      - bridge-net
    restart: always

networks:
  bridge-net:
    driver: bridge
